.wrapper{
   width: 924px;
   height: 756px;
   padding: 0;
   border: 1px solid black;
 }

.header{
  float: left;
  border: 1px solid black;
  margin: 0;
  padding: 0;
  width: 720px;
  height: 60px;
}

#rightPart{
  margin:0;
  padding:0;
  width: 200px;
  float: right;
}

#leftPart{
  margin:0;
  padding:0;
  float: left;
  width: 720px;
}

#main{
  border: 1px solid red;
  /*width: 100%;*/
  height: 540px;
}


#main-drawing-window  {
  border: 1px solid black;
  float: left;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 10px;
  top: 72px;
  width: 720px;
  height: 540px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  z-index: -1;
}

.front{
  margin:0;
  padding:0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  user-drag: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  z-index: -2;
}

.tools{
  float: left;
  margin:0;
  padding: 0;
  width: 720px;
  height: 150px;
  border: 1px solid black;
}
.sidebar-images{
  margin:0;
  padding:0;
  float: right;
  width: 190px;
  height: 754px;
  border: 1px solid black;
}

.tools{
  margin:0;
  padding:0;
  height: 145px;
  float: left;
}

.painting-tools{

  width: 70px;
}

.color-tools{
  width: 150px;
}

.size-tools{
  width: 150px;
}

.blank-tools{
  width: 50px;
}